.page-header {
  position: fixed;
  top: 0;
  z-index: 1000;

  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  
  background-color: $main-black;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: $mobile-width-only) {
  .page--nojs .page-header {
    position: static;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .page--nojs .page-header__container {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 551px) {
  .page-header {
    align-items: center;
    padding-bottom: 0;
  }
}